<%= form_for [current_user, @list] do |f| %>

  <% if @list.errors.any? %>
    <div id="error_message">
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item-form">
    <%= f.text_field :name, :class => "form-field", :placeholder => "Name", :style => "color:black;" %><br>
    <%= f.text_field :description, :class => "form-field", "placeholder" => "Description", :style => "color:black" %><br>
    <%= f.text_field :price, :class => "form-field", "placeholder" => "Price", :style => "color:black" %><br>
    <%= f.text_field :url, :class => "form-field", "placeholder" => "Copy and Paste Item's URL", :style => "color:black" %><br>
    <%= f.submit "Submit", :class => "nav-btn", :id => "submit-btn" %>
  </div>
<% end %>
